name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker image
        run: |
          docker build -t weather-app:latest ./app

      - name: Tag and push to ECR
        run: |
          docker tag weather-app:latest ${{ secrets.ECR_REPOSITORY_URL }}:latest
          docker push ${{ secrets.ECR_REPOSITORY_URL }}:latest

      - name: Deploy to EC2
        env:
          PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          HOST: ${{ secrets.EC2_HOST }}
          ECR_URL: ${{ secrets.ECR_REPOSITORY_URL }}
          WEATHER_KEY: ${{ secrets.WEATHER_API_KEY }}
        run: |
          echo "$PRIVATE_KEY" > private_key.pem
          chmod 600 private_key.pem
          ssh -o StrictHostKeyChecking=no -i private_key.pem ubuntu@$HOST "
            aws ecr get-login-password --region ap-south-1 | sudo docker login --username AWS --password-stdin $ECR_URL &&
            sudo docker pull $ECR_URL:latest &&
            sudo docker stop weather-app || true &&
            sudo docker rm weather-app || true &&
            sudo docker run -d -p 5000:5000 -e WEATHER_API_KEY=$WEATHER_KEY --name weather-app --restart always $ECR_URL:latest
          "
          rm -f private_key.pem